*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    width: 100%;
    height: 400vh;
}

.container > .nav-list {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    border-radius: 10px;
    background: #03001a;
    background: linear-gradient(90deg,rgba(3, 0, 26, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(43, 129, 148, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 5px;
    z-index: 100000;
}

.container > .nav-list > .name {
    color: red;
    font-size: 30px;
    padding-left: 20px;
}

.container > .nav-list > .ul {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    list-style: none;
    padding: 15px 20px;
}

.container > .nav-list > .ul > li > a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

.container > .nav-list > .ul > li > a:hover{
    transform: scale(1);
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/*----------------------------------------------Home(us)----------------------------------------*/

.con{
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
}

.con > .us{
   grid-area: 1/1/1/2;
   color: #03001a;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 100px;
}

.con > .us > h2 {
    font-size: 3rem;
}

.con > .us > .box{
    width: 100px;
    height: 40px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 500px;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.con > .us > .box > h3 > a {
    font-size: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.con > .us > .box:hover{
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 10px;
    color: #ffffff;
}

.con > .profile{
    grid-area: 1/2/1/3;
     display: flex;
    justify-content: center;
    align-items: center;
}

.con > .profile > img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #03001a;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*----------------------------------------------About----------------------------------------*/
.about{
    width: 100%;
    height: 900px;
    padding-top: 200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.about > .about2{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(3,1fr);
}

.about > .about2> .head {
    grid-area: 1/2/1/3;
    font-size: 1.8rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background: radial-gradient(
        circle,
        rgb(237, 104, 162) 0%,
        rgb(107, 148, 196) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about > .about2> .img1{
    grid-area: 2/1/7/2;
    display: flex;
    justify-content: center;
}

.about > .about2 > .img1 > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about > .about2> .head2{
    grid-area:2/2/2/4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

p{
    font-size: 20px;
    color: #514f65;
}
.about > .about2> .p1 {
    grid-area: 3/2/3/4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.about > .about2> .p2{
    grid-area: 4/2/4/4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.about > .about2> .p3 {
    grid-area: 5/2/5/4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.about > .about2> .Box{
    grid-area: 6/2/6/4;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.about > .about2> .Box > .box{
    width: 170pxx;
    height: 50px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-top: 10px;
    transition: all 0.5s ease-in-out;
}

.about > .about2> .Box > .box:hover{
    padding: 10px 15px;
    background-color: blue;
    color: white;
}
.about > .about2> .Box > .box:hover>a{
    color: white;
}
.about > .about2> .Box > .box > a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
}

/*----------------------------------------------project----------------------------------------*/

.project{
    width: 80%;
    height: 800px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.project > .head {
    margin: 0 auto;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    background: radial-gradient(
        circle,
        rgb(237, 104, 162) 0%,
        rgb(107, 148, 196) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project > .pro2 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.project > .pro2 > .box{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.project > .pro2 > .box > img{
    width: 100%;
    height: 40%;
    border-radius: 8px;
    transition: all 0.8s ease-in-out;
}

.project > .pro2 > .box > h3{
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.project > .pro2 > .box > p{
    font-size: 0.7rem;
    padding-top: 20px;
    padding-left: 8px;
    display: flex;
    justify-content: center;
}

.project > .pro2 > .box > .S-B{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 12px;
}

.project > .pro2 > .box > .s-b{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 12px;
}

.project > .pro2 > .box > .s-b > .s-box {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #dbd8f794;
    color: rgb(58, 58, 71);
}


.project > .pro2 > .box > .S-B > .s-box {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #dbd8f794;
    color: rgb(58, 58, 71);

}

.project > .pro2 > .box > .s-b > .s-box > h4{
    display: flex;
    justify-content: center;

}

.project > .pro2 > .box > .S-B > .s-box > h4{
    padding: 10px 5px;
}

.project > .pro2 > .box:hover{
    transform: scale(1.1);
    margin: 15px 25px;
}

.project > .pro2 > .box > .S-B > .s-box:hover{
    transform: scale(1.1);
    background-color: rgb(21, 0, 255);
    color: #ffffff;
}

.project > .pro2 > .box > .s-b > .s-box:hover{
    transform: scale(1.1);
    background-color: rgb(21, 0, 255);
    color: #ffffff;
}

/*----------------------------------------------Contact----------------------------------------*/

.contact{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    background: linear-gradient(180deg, #6d4aff, #6033cc);
    padding-top: 200px;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.contact-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.field {
  flex: 1;
  text-align: left;
}

.field label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.field input,
.field textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #e4e4e4;
}

.field.full {
  margin-bottom: 20px;
}

textarea {
  height: 120px;
  resize: none;
}

.btn {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  color: white;
  background: #8255ff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #6d44ff;
}